dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ce3d291f-0e4e-4634-be51-4ff892bb8252" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="501269b7-1876-44a4-a8f1-61ab616c82e7" >
		<http:listener doc:name="Listener" doc:id="8269bc9b-5435-4941-832c-3b3832aa749c" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Hello Dummy"]' doc:name="Set Payload" doc:id="ee39a79f-081b-4bdb-91d9-fcbecaa5dec1" />
		<logger level="INFO" doc:name="Logger" doc:id="c9edbb89-0491-4448-92aa-012e8cfecbbe" message="#[payload]"/>
	</flow>
</mule>
